input, button, label {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=text], input[type=password] {
  padding: 0 10px;
  width: 300px;
  height: 40px;
  color: #D8D8D8;
  text-shadow: 1px 1px 1px black;
  background: #585858;
  border: 0;
  border-radius: 5px;
}
input[type=text]:focus, input[type=password]:focus {
  color: white;
  background: #848484;
  outline: 0;
}

input:-webkit-autofill {
/* For the absolutely brutal autofill from chrome */
    -webkit-box-shadow: 0 0 0px 1000px #6E6E6E inset;
    -webkit-text-fill-color: #D8D8D8 !important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
}

p label {
  float: left;
  width: 100px;
  line-height: 40px;
  padding-right: 10px;
  font-weight: 100;
  text-align: right;
  letter-spacing: 1px;
}

.formA {
  position: relative;
  margin: 20px auto;
  width: 400px;
  font-weight: 300;
  color: #a8a7a8;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}
.formA p {
  margin: 0 0 10px;
}

.submit-button:focus{
  outline: none;
  box-shadow: 0px 0px 3pt 3pt orange;
}

.submit-button:hover{
  outline: none;
  box-shadow: 0px 0px 2pt 3pt orange;
}

.submit-button {
  position: relative;
  z-index: 1;
  width: 48px;
  height: 48px;
  white-space: nowrap;
  overflow: hidden;
  background: none;
  border: 0;
  border-radius: 24px;
  cursor: pointer;
}

.submit-button:before {
  /* Creates the background for the button , blue circle */
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background: #00a2d3;
  border-radius: 24px;
  background-image: -webkit-linear-gradient(top, #848484, #151515);
  background-image: -moz-linear-gradient(top, #848484, #151515);
  background-image: -o-linear-gradient(top, #848484, #151515);
  background-image: linear-gradient(to bottom, #848484, #151515);
}
.submit-button:after {
  /* Positions the arrow onto the Button (after the blue circle is layed down)*/
  content: '';
  position: absolute;
  top: 15px;
  left: 12px;
  width: 25px;
  height: 19px;
  color: orange;
  background: url("../img/arrow.png") 0 0 no-repeat;
}
.submit-button:active:before {
  /* Submit button when you click on it the blue circles gradient is redrawn*/
  background: #0591ba;
  background-image: -webkit-linear-gradient(top, #848484, #151515);
  background-image: -moz-linear-gradient(top, #848484, #151515);
  background-image: -o-linear-gradient(top, #848484, #151515);
  background-image: linear-gradient(to bottom,#848484, #151515);
}

.alert{
   color: red;
}
.shift-left{
  /* Centering the sign-up form */
  padding-right: 3%;
}

.register-text{
    font-family:  'Lato';
    font-weight: 700;
    font-variant: small-caps;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display:block;
    color: #8796DC;
}

.register-submit{
  position: relative;
  left: 210px;
}

table a:link {
  color: #666;
  font-weight: bold;
  text-decoration:none;
}
table a:visited {
  color: #999999;
  font-weight:bold;
  text-decoration:none;
}
table a:active,
table a:hover {
  color: #bd5a35;
  text-decoration:underline;
}
table {
  font-family:Arial, Helvetica, sans-serif;
  color:#666;
  font-size:12px;
  text-shadow: 1px 1px 0px #fff;
  background:#eaebec;
  margin:20px auto;
  border:#ccc 1px solid;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}
table th {
  padding:21px 25px 22px 25px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;

  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
  text-align: left;
  padding-left:20px;
}
table tr:first-child th:first-child {
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}
table tr:first-child th:last-child {
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}
table tr {
  text-align: center;
  padding-left:20px;
}
table td:first-child {
  text-align: left;
  padding-left:20px;
  border-left: 0;
}
table td {
  padding:18px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
  border-bottom:0;
}
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}
table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}


#logout{
  height:24px;
  font-size: 14px;
  margin-top: 8px;
}

#questionBox{
  width: 700px;
  margin: 0px auto 0px auto;
}
#questionBox p{
  color: #F1F1F1; /*Light Grey-Orange*/
  font: 25px/25px 'Lato', Helvetica, Arial, sans-serif;
  font-variant: ;
  letter-spacing: 1.4px;
}
#answerBox{
  width: 700px;
  text-align: center;
  margin: 30px auto 0px auto;
  font-family:  'Lato';
  font-weight: 700;
  font-variant: small-caps;
  line-height: 20px;
  height:20px;
  color: orange;
  font-size: 20px;
  letter-spacing: 2px;
}
#answerBox span{
  color: white;
  font-size: 15px;
  display: inline-block;
  padding-left: 50px;
}

.container{
    display: block;
    vertical-align: middle;
    text-align: center;
}
.centerScreen{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo /* Set the colour */
{   font-family:  'Lato';
    font-weight: 700;
    font-variant: small-caps;
    font-size: 100px;
    height:100px;
    line-height: 100px;
    text-align: center;
    display:block;
}

.logo-subtext
{
    line-height: 20px;
    height:20px;
    color: orange;
    font-size: 20px;
    letter-spacing: 2px;
}

body
{   font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    background-color: #313131
}
button{
  /* Style take from http://www.graemeboy.com/css-buttons*/
  -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  font-family:  'Lato';
  font-weight: 700;
  font-size: 20px;
  background-color:#FA2;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:none;
  height:32px;
  padding:4px 16px;
  color: black;
  margin: 20px 0 20px 0;
}
button:hover, #logout{
  background-image: -o-linear-gradient(right bottom, #A1571B 0%, #874719 100%);
  background-image: -moz-linear-gradient(right bottom, #A1571B 0%, #874719 100%);
  background-image: -webkit-linear-gradient(right bottom, #A1571B 0%, #874719 100%);
  background-image: -ms-linear-gradient(right bottom, #A1571B 0%, #874719 100%);
  background-image: linear-gradient(to right bottom, #A1571B 0%, #874719 100%);
}
